<div class="main-content">
  <h2>About the game</h2>
  <p>devQuest was created using a Javascript framework called Phaser 3. I learned the framework and create the game in exactly 7 business days.</p>
  <p>Game scenes include:</p>
  <ul>
    <li>loading scene</li>
    <li>menu scene</li>
    <li>level 1</li>
    <li>level 2</li>
  </ul>
  <h3>The Loading Screen</h3>
  <p> The loading screen is a simple bar that alerts the user how  long the game assets will take to load. After the assets have loaded, the user is shown approximately 7 seconds of my mock company logo.</p>
  <h3>The Menu Screen</h3>
  <p>The game title, a button that can be clicked to start the game, and some basic instructions on top of a background image. When the user hovers a mouse around the "new game" button, a hover sprite appears to let them know that the area can be clicked. The user can also simply hit "enter" to start a new game.</p>
  <h3>Levels 1 & 2</h3>
  <p>The game currently consists of two levels. The user can control the main character sprite, moving the little critter to the left and right using the arrow keys. The user can jump with either the up arrow or the space bar.</p>
  <p>Each level is a platformer which allows the user to go forward and back as they collect stars, which are counted in the upper left-hand corner. If the user falls into a pit or touches one of the flying bat enemies, it's game over. The level is complete when the user collects the spinning final star at the very end of the map.</p>
  <p>There is a volume controller in the top left corner as well, which allows the user to increase, decrease, and mute the volume as needed.</p>
</div>
